In [68]:
import utils.Utils as ut
import os
import pandas as pd
import shutil
from entity.blockchain.Address import Address
from utils.DataLoader import DataLoader
from utils.Settings import Setting
from utils.ProjectPath import ProjectPath
from collections import Counter
from utils import ChartDrawer as cd

path = ProjectPath()
setting = Setting()

uni_bfs_results = pd.read_csv(os.path.join(path.univ2_processed_path, "max_iter_cluster_results.csv"))
pan_bfs_results = pd.read_csv(os.path.join(path.panv2_processed_path, "max_iter_cluster_results.csv"))

ENVIRONMENT VARIABLES
DATA PATH: /mnt/Storage/Data/Blockchain/DEX

In [69]:

uni_bfs_results[uni_bfs_results.queue_size <= 50]

,gid,cluster_size,queue_size,groups,num_iter
11,2,18,0,10913-2-16071-102953-18547,18
15,6,77,0,6-32395-85012-41493-15128-83321-2330-52475-79646,77
24,16,1,0,16,1
25,17,5,0,17-6085,5
28,20,1,0,20,1
...,...,...,...,...,...
3865,1755,1,0,1755,1
3866,7747,2,0,7747,2
3867,1756,2,0,1756,2
3869,2296,1,0,2296,1
3870,2297,2,0,2297,2

In [70]:
pan_accepted_cluster = [2002,
                        5009,
                        6010,
                        1008,
                        8004,
                        2005,
                        11007,
                        11516,
                        4004,
                        8504,
                        503,
                        10504]
pan_bfs_results[pan_bfs_results.queue_size <= 100]

       gid  cluster_size  queue_size                      groups  num_iter
4     3001             1           0                        3001         1
5      501            15           0                    8852-501        15
6     4001             2           0                        4001         2
7     4002             1           0                        4002         1
8     4003             1           0                        4003         1
..     ...           ...         ...                         ...       ...
290   6016           206           6  6016-5379-11429-3287-11963       200
296  11009             4           0                       11009         4
297  11010             1           0                       11010         1
299  10013             5           0                       10013         5
301   6018             2           0                        6018         2

[124 rows x 5 columns]

In [71]:
def move_complete_cluster(clusters, dex='univ2'):
    cluster_path = eval(f'path.{dex}_cluster_path')
    complete_cluster_path = os.path.join(eval(f'path.{dex}_processed_path'), "complete_cluster")
    for cluster_id in clusters:
        file_name = f'cluster_{cluster_id}.csv'
        from_path = os.path.join(cluster_path, file_name)
        to_path = os.path.join(complete_cluster_path, file_name)
        shutil.copyfile(from_path, to_path)

In [72]:
# GROUP 4092 have many phishing neighbours
# uni_unfinished = [3254, 3051, 2252, 6792, 8115, 6723, 3652, 4573, 7150, 7728, 3725, 6098, 152, 3226, 7057, 5239, 1225,1303, 241, 7170, 5177, 7052, 6710,4505, 3732]
uni_accepted_cluster = [6105, 8585, 1583, 6074, 4550, 4575, 5578, 3017, 6200, 2288, 5742, 3040, 3247, 126, 1214, 2201, 53, 1528, 38
    , 1519
    , 1647
    , 8728
    , 3628
    , 8653
    , 7004
    , 8739
    , 5777
    , 6615
    , 6717
    , 3605
    , 6696
    , 262
    , 3771
    , 3634
    , 2029
    , 7585
                        ]
move_complete_cluster(uni_accepted_cluster, dex='univ2')

In [73]:
from entity.LightCluster import LightCluster
from visualisation import Graph as g

dex = 'univ2'
complete_cluster_path = os.path.join(eval(f'path.{dex}_processed_path'), "complete_cluster")
# for cid in uni_accepted_cluster:
#     cluster = LightCluster(cid)
#     cluster.load(complete_cluster_path)
#     g.build_graph(cluster, dex)

In [75]:
dex = 'panv2'
pan_accepted_cluster = [2002,
                        5009,
                        6010,
                        1008,
                        8004,
                        2005,
                        11007,
                        11516,
                        4004,
                        8504,
                        503,
                        10504]
# move_complete_cluster(pan_accepted_cluster, dex='panv2')
panv2_complete_cluster_path = os.path.join(path.panv2_processed_path, "complete_cluster")
for cid in pan_accepted_cluster:
    cluster = LightCluster(cid)
    cluster.load(panv2_complete_cluster_path)
    g.build_graph(cluster, dex)

LOAD EXISTING CLUSTER
LOAD END NODES
panv2_2002_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_5009_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_6010_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_1008_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_8004_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_2005_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_11007_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_11516_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_4004_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_8504_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_503_graph.html
LOAD EXISTING CLUSTER
LOAD END NODES
panv2_10504_graph.html